{% extends 'hrm.html.twig' %}

{% block title %}Edit TipoElementoDotacion{% endblock %}

{% block body %}
    <h1>Edit TipoElementoDotacion</h1>

    {{ include('tipo_elemento_dotacion/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('tipo_elemento_dotacion_index') }}">Volver a la Lista</a>

    {{ include('tipo_elemento_dotacion/_delete_form.html.twig') }}
{% endblock %}
