{% extends 'hrm.html.twig' %}

{% block title %}Nuevo TipoElementoDotacion{% endblock %}

{% block body %}
    <h1>Nuevo  TipoElementoDotacion</h1>

    {{ include('tipo_elemento_dotacion/_form.html.twig') }}

    <a href="{{ path('tipo_elemento_dotacion_index') }}">Volver a la Lista</a>
{% endblock %}
