{% extends 'hrm.html.twig' %}

{% block title %}New TipoElementoDotacion{% endblock %}

{% block body %}
    <h1>Create new TipoElementoDotacion</h1>

    {{ include('tipo_elemento_dotacion/_form.html.twig') }}

    <a href="{{ path('tipo_elemento_dotacion_index') }}">back to list</a>
{% endblock %}
