{% extends 'hrm.html.twig' %}

{% block title %}Nuevo TipoRelacionPersonaEntidad{% endblock %}

{% block body %}
    <h1>Nuevo  TipoRelacionPersonaEntidad</h1>

    {{ include('tipo_relacion_persona_entidad/_form.html.twig') }}

    <a href="{{ path('tipo_relacion_persona_entidad_index') }}">Volver a la Lista</a>
{% endblock %}
