{% extends 'hrm.html.twig' %}

{% block title %}New TipoRelacionPersonaEntidad{% endblock %}

{% block body %}
    <h1>Create new TipoRelacionPersonaEntidad</h1>

    {{ include('tipo_relacion_persona_entidad/_form.html.twig') }}

    <a href="{{ path('tipo_relacion_persona_entidad_index') }}">back to list</a>
{% endblock %}
