{% extends 'hrm.html.twig' %}

{% block title %}Editar Empleado{% endblock %}

{% block body %}
    <h1>Editar Empleado</h1>

    {{ include('empleado/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('empleado_index') }}">Volver a la Lista</a>

    {{ include('empleado/_delete_form.html.twig') }}
{% endblock %}
