{% extends 'hrm.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block title %}Editar Empleado{% endblock %}

{% block body %}
<div class="card">
    <div class="header">
        <h2>
            Editar Empleado
        </h2>
    </div>
    <div class="body">
        {{ include('empleado/_form.html.twig', {'button_label': 'Actualizar'}) }}
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="{{ path('empleado_index') }}" class="btn btn-block btn-lg btn-success waves-effect">Volver a la Lista</a>
    </div>
</div>

{{ include('empleado/_delete_form.html.twig') }}
<br>
{% endblock %}
