{{ form_start(formPersona) }}
    {{ form_widget(formPersona) }}
    <br>
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <button class="btn btn-block btn-lg btn-primary waves-effect">{{ button_label|default('Siguiente') }}</button>
        </div>
    </div>
{{ form_end(formPersona) }}
