{% extends 'hrm.html.twig' %}

{% block title %}Nuevo TipoContrato{% endblock %}

{% block body %}
    <h1>Nuevo  TipoContrato</h1>

    {{ include('tipo_contrato/_form.html.twig') }}

    <a href="{{ path('tipo_contrato_index') }}">Volver a la Lista</a>
{% endblock %}
