{% extends 'hrm.html.twig' %}

{% block title %}Editar Educacion Basica Media{% endblock %}

{% block body %}
    <h1>Editar Educacion Basica Media</h1>

    {{ include('educacion_basica_media/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('educacion_basica_media_index') }}">Volver a la lista</a>

    {{ include('educacion_basica_media/_delete_form.html.twig') }}
{% endblock %}
