{% extends 'hrm.html.twig' %}

{% block title %}Nuevo EducacionBasicaMedia{% endblock %}

{% block body %}
    <h1>Nuevo  EducacionBasicaMedia</h1>

    {{ include('educacion_basica_media/_form.html.twig') }}

    <a href="{{ path('educacion_basica_media_index') }}">Volver a la Lista</a>
{% endblock %}
