{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Educacion Basica Media{% endblock %}

{% block body %}
    <h1>Nuevo  Educacion Basica Media</h1>

    {{ include('educacion_basica_media/_form.html.twig') }}

    <a href="{{ path('educacion_basica_media_index') }}">Volver a la lista</a>
{% endblock %}
