{% extends 'hrm.html.twig' %}

{% block title %}New EducacionBasicaMedia{% endblock %}

{% block body %}
    <h1>Create new EducacionBasicaMedia</h1>

    {{ include('educacion_basica_media/_form.html.twig') }}

    <a href="{{ path('educacion_basica_media_index') }}">back to list</a>
{% endblock %}
