{% extends 'hrm.html.twig' %}

{% block title %}Edit EstadoCivil{% endblock %}

{% block body %}
    <h1>Edit EstadoCivil</h1>

    {{ include('estado_civil/_form.html.twig',{{ button_label|default('Actualizar') }}) }}

    <a href="{{ path('estado_civil_index') }}">Volver a la Lista</a>

    {{ include('estado_civil/_delete_form.html.twig') }}
{% endblock %}
