{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Estado Civil{% endblock %}

{% block body %}
    <h1>Nuevo  Estado Civil</h1>

    {{ include('estado_civil/_form.html.twig') }}

    <a href="{{ path('estado_civil_index') }}">Volver a la lista</a>
{% endblock %}
