{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Cargo{% endblock %}

{% block body %}
    <h1>Crear nuevo Cargo</h1>

    {{ include('cargo/_form.html.twig') }}

    <a href="{{ path('cargo_index') }}">Volver a la lista</a>
{% endblock %}
