{% extends 'hrm.html.twig' %}

{% block title %}Edit Otrosi{% endblock %}

{% block body %}
    <h1>Edit Otrosi</h1>

    {{ include('otrosi/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('otrosi_index') }}">Volver a la Lista</a>

    {{ include('otrosi/_delete_form.html.twig') }}
{% endblock %}
