{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Otro Si{% endblock %}

{% block body %}
    <h1>Crear Nuevo Otro si</h1>

    {{ include('otrosi/_form.html.twig') }}

    <a href="{{ path('otrosi_index') }}">Volver a la lista</a>
{% endblock %}
