{% extends 'hrm.html.twig' %}

{% block title %}Editar TipoExamenMedico{% endblock %}

{% block body %}
    <h1>Editar TipoExamenMedico</h1>

    {{ include('tipo_examen_medico/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('tipo_examen_medico_index') }}">Volver a la Lista</a>

    {{ include('tipo_examen_medico/_delete_form.html.twig') }}
{% endblock %}
