{% extends 'base.html.twig' %}

{% block title %}Edit TipoExamenMedico{% endblock %}

{% block body %}
    <h1>Edit TipoExamenMedico</h1>

    {{ include('tipo_examen_medico/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tipo_examen_medico_index') }}">back to list</a>

    {{ include('tipo_examen_medico/_delete_form.html.twig') }}
{% endblock %}
