{% extends 'hrm.html.twig' %}

{% block title %}New TipoExamenMedico{% endblock %}

{% block body %}
    <h1>Create new TipoExamenMedico</h1>

    {{ include('tipo_examen_medico/_form.html.twig') }}

    <a href="{{ path('tipo_examen_medico_index') }}">Volver a la Lista</a>
{% endblock %}
