{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Tipo de Examen Medico{% endblock %}

{% block body %}
    <h1>Nuevo  Tipo de Examen Medico</h1>

    {{ include('tipo_examen_medico/_form.html.twig') }}

    <a href="{{ path('tipo_examen_medico_index') }}">Volver a la lista</a>
{% endblock %}
