{% extends 'hrm.html.twig' %}

{% block title %}Nuevo TipoExamenMedico{% endblock %}

{% block body %}
    <h1>Nuevo  TipoExamenMedico</h1>

    {{ include('tipo_examen_medico/_form.html.twig') }}

    <a href="{{ path('tipo_examen_medico_index') }}">Volver a la Lista</a>
{% endblock %}
