{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Titulo Educacion Continuada{% endblock %}

{% block body %}
    <h1>Nuevo  Titulo Educacion Continuada</h1>

    {{ include('titulo_educacion_continuada/_form.html.twig') }}

    <a href="{{ path('titulo_educacion_continuada_index') }}">Volver a la lista</a>
{% endblock %}
