{% extends 'hrm.html.twig' %}

{% block title %}Edit Persona{% endblock %}

{% block body %}
    <h1>Edit Persona</h1>

    {{ include('persona/_form.html.twig',{{ button_label|default('Actualizar') }}) }}

    <a href="{{ path('persona_index') }}">Volver a la Lista</a>

    {{ include('persona/_delete_form.html.twig') }}
{% endblock %}
