<form method="post" action="{{ path('relacion_persona_entidad_delete', {'id': relacion_persona_entidad.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este ítem?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ relacion_persona_entidad.id) }}">
    <button class="btn">Eliminar</button>
</form>
