{% extends 'hrm.html.twig' %}

{% block title %}Editar Relacion Persona Entidad{% endblock %}

{% block body %}
    <h1>Editar Relacion Persona Entidad</h1>

    {{ include('relacion_persona_entidad/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('relacion_persona_entidad_index') }}">Volver a la Lista</a>

    {{ include('relacion_persona_entidad/_delete_form.html.twig') }}
{% endblock %}
