{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Relacion Persona Entidad{% endblock %}

{% block body %}
    <h1>Nuevo  Relacion Persona Entidad</h1>

    {{ include('relacion_persona_entidad/_form.html.twig') }}

    <a href="{{ path('relacion_persona_entidad_index') }}">Volver a la lista</a>
{% endblock %}
