<form method="post" action="{{ path('entidad_delete', {'id': entidad.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este ítem?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entidad.id) }}">
    <button class="btn">Eliminar</button>
</form>
