{% extends 'hrm.html.twig' %}

{% block title %}Editar Entidad{% endblock %}

{% block body %}
    <h1>Editar Entidad</h1>

    {{ include('entidad/_form.html.twig', {'button_label': 'ACtualizar'}) }}

    <a href="{{ path('entidad_index') }}">Volver a la Lista</a>

    {{ include('entidad/_delete_form.html.twig') }}
{% endblock %}
