{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Entidad{% endblock %}

{% block body %}
    <h1>Nuevo  Entidad</h1>

    {{ include('entidad/_form.html.twig') }}

    <a href="{{ path('entidad_index') }}">Volver a la lista</a>
{% endblock %}
