<form method="post" action="{{ path('proceso_gestion_integral_delete', {'id': proceso_gestion_integral.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este ítem?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proceso_gestion_integral.id) }}">
    <button class="btn">Eliminar</button>
</form>
