{% extends 'hrm.html.twig' %}

{% block title %}Edit ProcesoGestionIntegral{% endblock %}

{% block body %}
    <h1>Edit ProcesoGestionIntegral</h1>

    {{ include('proceso_gestion_integral/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('proceso_gestion_integral_index') }}">Volver a la Lista</a>

    {{ include('proceso_gestion_integral/_delete_form.html.twig') }}
{% endblock %}
