{% extends 'hrm.html.twig' %}

{% block title %}Editar Proceso de Gestion Integral{% endblock %}

{% block body %}
    <h1>Editar Proceso de Gestion Integral</h1>

    {{ include('proceso_gestion_integral/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('proceso_gestion_integral_index') }}">Volver a la lista</a>

    {{ include('proceso_gestion_integral/_delete_form.html.twig') }}
{% endblock %}
