<form method="post" action="{{ path('educacion_continuada_delete', {'id': educacion_continuada.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este ítem?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ educacion_continuada.id) }}">
    <button class="btn">Eliminar</button>
</form>
