{% extends 'hrm.html.twig' %}

{% block title %}Edit EducacionContinuada{% endblock %}

{% block body %}
    <h1>Edit EducacionContinuada</h1>

    {{ include('educacion_continuada/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('educacion_continuada_index') }}">back to list</a>

    {{ include('educacion_continuada/_delete_form.html.twig') }}
{% endblock %}
