{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Educacion Continuada{% endblock %}

{% block body %}
    <h1>Nuevo  Educacion Continuada</h1>

    {{ include('educacion_continuada/_form.html.twig') }}

    <a href="{{ path('educacion_continuada_index') }}">Volver a la lista</a>
{% endblock %}
