{% extends 'hrm.html.twig' %}

{% block title %}Nuevo EducacionContinuada{% endblock %}

{% block body %}
    <h1>Nuevo  EducacionContinuada</h1>

    {{ include('educacion_continuada/_form.html.twig') }}

    <a href="{{ path('educacion_continuada_index') }}">Volver a la Lista</a>
{% endblock %}
