{% extends 'hrm.html.twig' %}

{% block title %}New EducacionContinuada{% endblock %}

{% block body %}
    <h1>Create new EducacionContinuada</h1>

    {{ include('educacion_continuada/_form.html.twig') }}

    <a href="{{ path('educacion_continuada_index') }}">back to list</a>
{% endblock %}
