{% extends 'hrm.html.twig' %}

{% block title %}Edit ElementoDotacion{% endblock %}

{% block body %}
    <h1>Edit ElementoDotacion</h1>

    {{ include('elemento_dotacion/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('elemento_dotacion_index') }}">Volver a la Lista</a>

    {{ include('elemento_dotacion/_delete_form.html.twig') }}
{% endblock %}
