{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Elemento de Dotacion{% endblock %}

{% block body %}
    <h1>Nuevo  Elemento de Dotacion</h1>

    {{ include('elemento_dotacion/_form.html.twig') }}

    <a href="{{ path('elemento_dotacion_index') }}">Volver a la Lista</a>
{% endblock %}
