{% extends 'hrm.html.twig' %}

{% block title %}Editar Tipo de Programa del Examen Medico{% endblock %}

{% block body %}
    <h1>Editar Tipo de Programa del Examen Medico</h1>

    {{ include('tipo_programa_examen_medico/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('tipo_programa_examen_medico_index') }}">Volver a la lista</a>

    {{ include('tipo_programa_examen_medico/_delete_form.html.twig') }}
{% endblock %}
