{% extends 'hrm.html.twig' %}

{% block title %}Nuevo TipoProgramaExamenMedico{% endblock %}

{% block body %}
    <h1>Nuevo  TipoProgramaExamenMedico</h1>

    {{ include('tipo_programa_examen_medico/_form.html.twig') }}

    <a href="{{ path('tipo_programa_examen_medico_index') }}">Volver a la Lista</a>
{% endblock %}
