{% extends 'hrm.html.twig' %}

{% block title %}New TipoProgramaExamenMedico{% endblock %}

{% block body %}
    <h1>Create new TipoProgramaExamenMedico</h1>

    {{ include('tipo_programa_examen_medico/_form.html.twig') }}

    <a href="{{ path('tipo_programa_examen_medico_index') }}">back to list</a>
{% endblock %}
