{% extends 'hrm.html.twig' %}

{% block title %}Edit RegistroVacuna{% endblock %}

{% block body %}
    <h1>Edit RegistroVacuna</h1>

    {{ include('registro_vacuna/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('registro_vacuna_index') }}">Volver a la Lista</a>

    {{ include('registro_vacuna/_delete_form.html.twig') }}
{% endblock %}
