{% extends 'hrm.html.twig' %}

{% block title %}Nuevo RegistroVacuna{% endblock %}

{% block body %}
    <h1>Nuevo  RegistroVacuna</h1>

    {{ include('registro_vacuna/_form.html.twig') }}

    <a href="{{ path('registro_vacuna_index') }}">Volver a la Lista</a>
{% endblock %}
