{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Registro de Vacuna{% endblock %}

{% block body %}
    <h1>Nuevo  Registro de Vacuna</h1>

    {{ include('registro_vacuna/_form.html.twig') }}

    <a href="{{ path('registro_vacuna_index') }}">Volver a la Lista</a>
{% endblock %}
