{% extends 'hrm.html.twig' %}

{% block title %}New RegistroVacuna{% endblock %}

{% block body %}
    <h1>Create new RegistroVacuna</h1>

    {{ include('registro_vacuna/_form.html.twig') }}

    <a href="{{ path('registro_vacuna_index') }}">back to list</a>
{% endblock %}
