<form method="post" action="{{ path('educacion_superior_delete', {'id': educacion_superior.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este ítem?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ educacion_superior.id) }}">
    <div class="row clearfix">
        <div class="col-lg-3 col-lg-offset-9 col-md-3 col-md-offset-9 col-sm-6 col-sm-offset-6 col-xs-12">
            <button class="btn btn-block btn-lg btn-danger waves-effect">Eliminar</button>
        </div>
    </div>
</form>
