{% extends 'hrm.html.twig' %}

{% block title %}Editar Educacion Superior{% endblock %}

{% block body %}
    <h1>Editar Educacion Superior</h1>

    {{ include('educacion_superior/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('educacion_superior_index') }}">Volver a la Lista</a>

    {{ include('educacion_superior/_delete_form.html.twig') }}
{% endblock %}
