{% extends 'hrm.html.twig' %}

{% block title %}Nuevo EducacionSuperior{% endblock %}

{% block body %}
    <h1>Nuevo  EducacionSuperior</h1>

    {{ include('educacion_superior/_form.html.twig') }}

    <a href="{{ path('educacion_superior_index') }}">Volver a la Lista</a>
{% endblock %}
