{% extends 'hrm.html.twig' %}

{% block title %}Editar TipoVivienda{% endblock %}

{% block body %}
    <h1>Editar TipoVivienda</h1>

    {{ include('tipo_vivienda/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('tipo_vivienda_index') }}">Volver a la Lista</a>

    {{ include('tipo_vivienda/_delete_form.html.twig') }}
{% endblock %}
