{% extends 'hrm.html.twig' %}

{% block title %}New TipoVivienda{% endblock %}

{% block body %}
    <h1>Create new TipoVivienda</h1>

    {{ include('tipo_vivienda/_form.html.twig') }}

    <a href="{{ path('tipo_vivienda_index') }}">back to list</a>
{% endblock %}
