{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Tipo de Vivienda{% endblock %}

{% block body %}
    <h1>Nuevo  Tipo de Vivienda</h1>

    {{ include('tipo_vivienda/_form.html.twig') }}

    <a href="{{ path('tipo_vivienda_index') }}">Volver a la Lista</a>
{% endblock %}
