<form method="post" action="{{ path('tipo_vacuna_delete', {'id': tipo_vacuna.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este ítem?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipo_vacuna.id) }}">
    <button class="btn">Eliminar</button>
</form>
