{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Tipo de Vacuna{% endblock %}

{% block body %}
    <h1>Nuevo  Tipo de Vacuna</h1>

    {{ include('tipo_vacuna/_form.html.twig') }}

    <a href="{{ path('tipo_vacuna_index') }}">Volver a la lista</a>
{% endblock %}
