{% extends 'hrm.html.twig' %}

{% block body %}
    <h1>Bienvenido a HRM</h1>
    <h4>Sistema de Gestión de Recursos Humanos</h4>
{% endblock %}

{% block javascripts %}
    <script src="/js/hello.js" type="text/javascript"></script>
{% endblock %}