<form method="post" action="{{ path('tipo_entidad_delete', {'id': tipo_entidad.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este ítem?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipo_entidad.id) }}">
    <button class="btn">Delete</button>
</form>
