{% extends 'hrm.html.twig' %}

{% block title %}Editar Tipo de Entidad{% endblock %}

{% block body %}
    <h1>Editar Tipo de Entidad</h1>

    {{ include('tipo_entidad/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('tipo_entidad_index') }}">Volver a la lista</a>

    {{ include('tipo_entidad/_delete_form.html.twig') }}
{% endblock %}
