{% extends 'hrm.html.twig' %}

{% block title %}Editar TipoEntidad{% endblock %}

{% block body %}
    <h1>Editar TipoEntidad</h1>

    {{ include('tipo_entidad/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('tipo_entidad_index') }}">Volver a la Lista</a>

    {{ include('tipo_entidad/_delete_form.html.twig') }}
{% endblock %}
