{% extends 'hrm.html.twig' %}

{% block title %}Nuevo TipoEntidad{% endblock %}

{% block body %}
    <h1>Nuevo  TipoEntidad</h1>

    {{ include('tipo_entidad/_form.html.twig') }}

    <a href="{{ path('tipo_entidad_index') }}">Volver a la Lista</a>
{% endblock %}
