{% extends 'hrm.html.twig' %}

{% block title %}Editar RelacionPersonas{% endblock %}

{% block body %}
    <h1>Editar RelacionPersonas</h1>

    {{ include('relacion_personas/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('relacion_personas_index') }}">Volver a la Lista</a>

    {{ include('relacion_personas/_delete_form.html.twig') }}
{% endblock %}
