{% extends 'hrm.html.twig' %}

{% block title %}Relacion Personas {% endblock %}

{% block body %}
    <h1>Relacion Personas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for relacion_persona in relacion_personas %}
            <tr>
                <td>{{ relacion_persona.id }}</td>
                <td>
                    <a href="{{ path('relacion_personas_show', {'id': relacion_persona.id}) }}">Ver</a>
                    <a href="{{ path('relacion_personas_edit', {'id': relacion_persona.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">¡Oops! no encontramos nada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('relacion_personas_new') }}">Nuevo</a>
{% endblock %}
