{% extends 'base.html.twig' %}

{% block title %}RelacionPersonas index{% endblock %}

{% block body %}
    <h1>RelacionPersonas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relacion_persona in relacion_personas %}
            <tr>
                <td>{{ relacion_persona.id }}</td>
                <td>
                    <a href="{{ path('relacion_personas_show', {'id': relacion_persona.id}) }}">show</a>
                    <a href="{{ path('relacion_personas_edit', {'id': relacion_persona.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('relacion_personas_new') }}">Create new</a>
{% endblock %}
