{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Relacion Personas{% endblock %}

{% block body %}
    <h1>Nuevo  Relacion Personas</h1>

    {{ include('relacion_personas/_form.html.twig') }}

    <a href="{{ path('relacion_personas_index') }}">Volver a la lista</a>
{% endblock %}
