{% extends 'hrm.html.twig' %}

{% block title %}Relacion Personas{% endblock %}

{% block body %}
    <h1>Relacion Personas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ relacion_persona.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('relacion_personas_index') }}">Volver a la lista</a>

    <a href="{{ path('relacion_personas_edit', {'id': relacion_persona.id}) }}">Editar</a>

    {{ include('relacion_personas/_delete_form.html.twig') }}
{% endblock %}
