{% extends 'hrm.html.twig' %}

{% block title %}Edit TallaDotacion{% endblock %}

{% block body %}
    <h1>Editar TallaDotacion</h1>

    {{ include('talla_dotacion/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('talla_dotacion_index') }}">Volver a la Lista</a>

    {{ include('talla_dotacion/_delete_form.html.twig') }}
{% endblock %}
