{% extends 'hrm.html.twig' %}

{% block title %}Nuevo TallaDotacion{% endblock %}

{% block body %}
    <h1>Nuevo  TallaDotacion</h1>

    {{ include('talla_dotacion/_form.html.twig') }}

    <a href="{{ path('talla_dotacion_index') }}">Volver a la Lista</a>
{% endblock %}
