{% extends 'hrm.html.twig' %}

{% block title %}Nueva Talla de Dotacion{% endblock %}

{% block body %}
    <h1>Nueva  Talla de Dotacion</h1>

    {{ include('talla_dotacion/_form.html.twig') }}

    <a href="{{ path('talla_dotacion_index') }}">Volver a la Lista</a>
{% endblock %}
