{% extends 'hrm.html.twig' %}

{% block title %}Editar TipoRelacion Personas{% endblock %}

{% block body %}
    <h1>Editar TipoRelacionPersonas</h1>

    {{ include('tipo_relacion_personas/_form.html.twig', {'button_label': 'Actualizar'}) }}
    <a href="{{ path('tipo_relacion_personas_index') }}">Volver a la lista</a>

    {{ include('tipo_relacion_personas/_delete_form.html.twig') }}
{% endblock %}
