{% extends 'hrm.html.twig' %}

{% block title %}Nuevo TipoRelacionPersonas{% endblock %}

{% block body %}
    <h1>Nuevo  TipoRelacionPersonas</h1>

    {{ include('tipo_relacion_personas/_form.html.twig') }}

    <a href="{{ path('tipo_relacion_personas_index') }}">Volver a la Lista</a>
{% endblock %}
