<form method="post" action="{{ path('vivienda_delete', {'id': vivienda.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este ítem?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vivienda.id) }}">
    <button class="btn">Borrar</button>
</form>
