{% extends 'hrm.html.twig' %}

{% block title %}Editar Vivienda{% endblock %}

{% block body %}
    <h1>Editar Vivienda</h1>

    {{ include('vivienda/_form.html.twig', {'button_label': 'Actualizar'}) }}s

    <a href="{{ path('vivienda_index') }}">Volver a la lista</a>

    {{ include('vivienda/_delete_form.html.twig') }}
{% endblock %}
