{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Vivienda{% endblock %}

{% block body %}
    <h1>Nuevo  Vivienda</h1>

    {{ include('vivienda/_form.html.twig') }}

    <a href="{{ path('vivienda_index') }}">Volver a la Lista</a>
{% endblock %}
