{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Concepto Examen Medico{% endblock %}

{% block body %}
    <h1>Crear nuevo Concepto Examen Medico</h1>

    {{ include('concepto_examen_medico/_form.html.twig') }}

    <a href="{{ path('concepto_examen_medico_index') }}">Volver a la lista</a>
{% endblock %}
