{% extends 'hrm.html.twig' %}

{% block title %}Edit TituloAcademico{% endblock %}

{% block body %}
    <h1>Edit TituloAcademico</h1>

    {{ include('titulo_academico/_form.html.twig',{'button_label': 'Actualizar'}) }}

    <a href="{{ path('titulo_academico_index') }}">Volver a la Lista</a>

    {{ include('titulo_academico/_delete_form.html.twig') }}
{% endblock %}
