<form method="post" action="{{ path('contrato_delete', {'id': contrato.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este ítem?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contrato.id) }}">
    <button class="btn">Delete</button>
</form>
