{% extends 'hrm.html.twig' %}
{% use 'contrato/scripts.html.twig' %}

{% block title %}Nuevo Contrato{% endblock %}

{% block body %}
    <h1>Nuevo  Contrato</h1>

    {{ include('contrato/_form.html.twig') }}

    {% if not persona %}
    <a href="{{ path('contrato_index') }}">Volver a la Lista</a>
    {% endif %}
{% endblock %}
