{% extends 'hrm.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}
{% use 'contrato/scripts.html.twig' %}

{% block title %}Nuevo Contrato{% endblock %}

{% block body %}
 <div class="card">
    <div class="header">
        <h2>Nuevo  Contrato</h2>
    </div>
    <div class="body">
        {{ include('contrato/_form.html.twig') }}</div>
</div>

<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        {% if not persona %}
            <a href="{{ path('contrato_index') }}">Volver a la lista</a>
        {% endif %}
    </div>
</div>
<br>
{% endblock %}
