<form method="post" action="{{ path('entrega_elemento_dotacion_delete', {'id': entrega_elemento_dotacion.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este ítem?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entrega_elemento_dotacion.id) }}">
    <button class="btn">Borrar</button>
</form>
