{% extends 'hrm.html.twig' %}

{% block title %}Editar EntregaElementoDotacion{% endblock %}

{% block body %}
    <h1>Editar EntregaElementoDotacion</h1>

    {{ include('entrega_elemento_dotacion/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('entrega_elemento_dotacion_index') }}">Volver a la Lista</a>

    {{ include('entrega_elemento_dotacion/_delete_form.html.twig') }}
{% endblock %}
