{% extends 'hrm.html.twig' %}

{% block title %}New EntregaElementoDotacion{% endblock %}

{% block body %}
    <h1>Create new EntregaElementoDotacion</h1>

    {{ include('entrega_elemento_dotacion/_form.html.twig') }}

    <a href="{{ path('entrega_elemento_dotacion_index') }}">back to list</a>
{% endblock %}
