{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Entrega del Elemento de Dotacion{% endblock %}

{% block body %}
    <h1>Nuevo  Entrega del Elemento de Dotacion</h1>

    {{ include('entrega_elemento_dotacion/_form.html.twig') }}

    <a href="{{ path('entrega_elemento_dotacion_index') }}">Volver a la lista</a>
{% endblock %}
