{% extends 'hrm.html.twig' %}

{% block title %}Nuevo EntregaElemento Dotacion{% endblock %}

{% block body %}
    <h1>Nuevo  EntregaElemento de Dotacion</h1>

    {{ include('entrega_elemento_dotacion/_form.html.twig') }}

    <a href="{{ path('entrega_elemento_dotacion_index') }}">Volver a la Lista</a>
{% endblock %}
