{% extends 'hrm.html.twig' %}

{% block title %}Editar Prorroga de Contrato{% endblock %}

{% block body %}
    <h1>Editar Prorroga de Contrato</h1>

    {{ include('prorroga_contrato/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('prorroga_contrato_index') }}">Volver a la lista</a>

    {{ include('prorroga_contrato/_delete_form.html.twig') }}
{% endblock %}
