{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Prorroga de Contrato{% endblock %}

{% block body %}
    <h1>Nuevo  Prorroga de Contrato</h1>

    {{ include('prorroga_contrato/_form.html.twig') }}

    <a href="{{ path('prorroga_contrato_index') }}">Volver a la Lista</a>
{% endblock %}
