{% extends 'base.html.twig' %}

{% block title %}New ProrrogaContrato{% endblock %}

{% block body %}
    <h1>Create new ProrrogaContrato</h1>

    {{ include('prorroga_contrato/_form.html.twig') }}

    <a href="{{ path('prorroga_contrato_index') }}">back to list</a>
{% endblock %}
