<form method="post" action="{{ path('concepto_otrosi_delete', {'id': concepto_otrosi.id}) }}" onsubmit="return confirm('¿Estas seguro que desear borrar este Ite?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ concepto_otrosi.id) }}">
    <button class="btn">Borrar</button>
</form>
