{% extends 'hrm.html.twig' %}

{% block title %}Editar Concepto Otro Si{% endblock %}

{% block body %}
<div class="card">
    <div class="header">
        <h2>Editar Concepto Otro Si</h2>
    </div>
    <div class="body">
        {{ include('concepto_otrosi/_form.html.twig', {'button_label': 'Actualizar'}) }}
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="{{ path('auxilio_contrato_index') }}"class="btn btn-block btn-lg btn-success waves-effect">Volver a la lista</a>
    </div>
</div>
    {{ include('concepto_otrosi/_delete_form.html.twig') }}
{% endblock %}
