{% extends 'hrm.html.twig' %}

{% block title %}Editar Concepto Otro Si{% endblock %}

{% block body %}
    <h1>Editar Concepto Otro Si</h1>

    {{ include('concepto_otrosi/_form.html.twig',{'button_label': 'Actualizar'}) }}

    <a href="{{ path('concepto_otrosi_index') }}">Volver a la Lista</a>

    {{ include('concepto_otrosi/_delete_form.html.twig') }}
{% endblock %}
