{% extends 'hrm.html.twig' %}

{% block title %}Nuevo Concepto Otro Si{% endblock %}

{% block body %}
    <h1>Crear Nuevo Concepto Otro Si</h1>

    {{ include('concepto_otrosi/_form.html.twig') }}

    <a href="{{ path('concepto_otrosi_index') }}">Volver a la Lista</a>
{% endblock %}
