{% extends 'hrm.html.twig' %}

{% block title %}Editar Genero{% endblock %}

{% block body %}
    <h1>Editar Genero</h1>

    {{ include('genero/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('genero_index') }}">Volver a la lista</a>

    {{ include('genero/_delete_form.html.twig') }}
{% endblock %}
