{% extends 'hrm.html.twig' %}

{% block title %}New Genero{% endblock %}

{% block body %}
    <h1>Create new Genero</h1>

    {{ include('genero/_form.html.twig') }}

    <a href="{{ path('genero_index') }}">Volver a la Lista</a>
{% endblock %}
