{% extends 'hrm.html.twig' %}

{% block title %}Editar Cuenta Bancaria{% endblock %}

{% block body %}
    <h1>Editar Cuenta Bancaria</h1>

    {{ include('cuenta_bancaria/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('cuenta_bancaria_index') }}">Volver a la lista</a>

    {{ include('cuenta_bancaria/_delete_form.html.twig') }}
{% endblock %}
