{% extends 'hrm.html.twig' %}

{% block title %}Nueva Cuenta Bancaria{% endblock %}

{% block body %}
    <h1>Nueva Cuenta Bancaria</h1>

    {{ include('cuenta_bancaria/_form.html.twig') }}

    <a href="{{ path('cuenta_bancaria_index') }}">Volver a la lista</a>
{% endblock %}
