<form method="post" action="{{ path('examen_medico_delete', {'id': examen_medico.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este ítem?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ examen_medico.id) }}">
    <button class="btn">Delete</button>
</form>
