{% extends 'hrm.html.twig' %}

{% block title %}Editar Examen Medico{% endblock %}

{% block body %}
    <h1>Editar Examen Medico</h1>

    {{ include('examen_medico/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('examen_medico_index') }}">Volver a la lista</a>

    {{ include('examen_medico/_delete_form.html.twig') }}
{% endblock %}
