{% extends 'hrm.html.twig' %}

{% block title %}Nuevo ExamenMedico{% endblock %}

{% block body %}
    <h1>Nuevo  ExamenMedico</h1>

    {{ include('examen_medico/_form.html.twig') }}

    <a href="{{ path('examen_medico_index') }}">Volver a la Lista</a>
{% endblock %}
